Repository pt232/money-tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, turbo run lint:fix lint, turbo run lint:css

.lintstagedrc:

{
  "*.{js,ts,tsx}": ["npm run format", "turbo run lint:fix lint"],
  "*.css": ["turbo run lint:css"],
  "*.json": ["npm run format"]
}

Format the repository
  README.md
Due: none

Add private attribute to shared eslint config
  packages/eslint-config-custom/package.json
Due: npm run format

chore: add commitlint to validate commit messages
  .commitlintrc
  .husky/commit-msg
  package-lock.json
  package.json
Due: npm run format

chore(.vscode): add vscode config
  .vscode/extensions.json
  .vscode/settings.json
Due: npm run format

fix(turborepo): add lint:fix to the pipeline
  .lintstagedrc
  turbo.json
Due: npm run format

fix(turbo): remove turbo scripts from lint-staged config file
  .husky/pre-commit
  .lintstagedrc
  .prettierignore
  apps/web/src/App.tsx
  turbo.json
Due: npm run format, turbo run lint:fix lint

refactor(lint-staged): format all files with prettier
  .lintstagedrc
Due: none

refactor(lint-staged): use turbo scripts in the lint-staged config file
  .husky/pre-commit
  .lintstagedrc
  package.json
  turbo.json
Due: npm run format

feat(mongoose): add a connection to a mongodb database with mongoose
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/env.d.ts
  apps/api/src/index.ts
  package-lock.json
Due: npm run format, turbo run lint:fix lint

feat(docker): containerized the api
  .dockerignore
  apps/api/Dockerfile
  apps/api/package.json
  docker-compose.yml
  package-lock.json
Due: npm run format

refactor(docker): reduce docker image size by using node alpine
  apps/api/Dockerfile
Due: none

feat(docker): containerized the frontend
  apps/web/Dockerfile
  apps/web/vite.config.ts
  docker-compose.yml
Due: npm run format, turbo run lint:fix lint

refactor(.dockerignore): add files and folders to dockerignore
  .dockerignore
Due: none

refactor(.gitignore): abstract files and folders from web gitignore to root
  .gitignore
  apps/web/.gitignore
Due: none

feat(docker): add a dockerfile for development
  .dockerignore
  apps/web/Dockerfile.dev
  docker-compose.yml
  package.json
Due: npm run format

feat(docker): add a dockerfile for production with nginx
  apps/web/Dockerfile.prod
Due: none

feat(docker): add a dockerfile for development on the server
  apps/api/Dockerfile.dev
  apps/api/Dockerfile.prod
  docker-compose.yml
Due: none

feat(docker): use non-root user for containers
  apps/api/Dockerfile.prod
  apps/web/Dockerfile.prod
Due: none

refactor(docker): add a docker-compose start script
  package.json
Due: npm run format

refactor(docker): use npm i for development
  apps/api/Dockerfile.dev
Due: none

chore(ci): add a continuous integration pipeline
  .github/workflows/ci.yml
Due: none

refactor(ci): rename ci job
  .github/workflows/ci.yml
Due: none

chore(dependabot): add dependabot config file
  .github/dependabot.yml
Due: none

refactor(templates): place pr template directly in .github folder
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore(dependabot): add reviewers
  .github/dependabot.yml
Due: none

fix(deps): sync lock file
  package-lock.json
Due: npm run format

fix(deps): readd lock file
  package-lock.json
Due: npm run format

chore(deps): update dependencies
  apps/web/package.json
  package-lock.json
  packages/eslint-config-custom/package.json
Due: npm run format

chore(ci): use npm install instead of npm ci to fix dependabot pull requests
  .github/workflows/ci.yml
Due: none

feat(docker): add mongo and mongo-express for development
  docker-compose.yml
Due: none

feat(docker-compose): add volume to the mongodb container
  apps/api/.env.example
  docker-compose.yml
Due: none

feat(render): add render.yaml file for deployment
  render.yaml
Due: none

fix(render): adjust service type
  render.yaml
Due: none

chore(render): remove mongo private service
  render.yaml
Due: none

fix(render): add key property to env variable
  render.yaml
Due: none

fix(render): add sync property
  render.yaml
Due: none
