Repository pt232/money-tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint, npm run lint:css

.lintstagedrc:

{
  "*.{js,cjs,ts,tsx}": ["npm run format", "npm run lint"],
  "*.{json,md}": "npm run format",
  "*.css": "npm run lint:css"
}

feat(router): add not found page
  apps/web/src/components/layouts/RootLayout/RootLayout.module.css
  apps/web/src/pages/NotFound/NotFound.module.css
  apps/web/src/pages/NotFound/NotFound.tsx
  apps/web/src/pages/NotFound/index.ts
  apps/web/src/router/index.tsx
Due: npm run format, npm run lint, npm run lint:css

refactor(router): swap path with index property for overview page
  apps/web/src/router/index.tsx
Due: npm run format, npm run lint

feat(sidebar-link): close sidebar on link click
  apps/web/src/components/layouts/Sidebar/Sidebar.tsx
  apps/web/src/components/layouts/Sidebar/SidebarLink/SidebarLink.tsx
Due: npm run format, npm run lint

test(input): add test for input component
  apps/web/src/components/ui/Input/Input.test.tsx
Due: npm run format, npm run lint

test(page-header): test title rendering and button clicks
  apps/web/src/components/layouts/PageHeader/PageHeader.test.tsx
Due: npm run format, npm run lint

test(sidebar): add tests for sidebar component
  apps/web/src/components/layouts/Sidebar/Sidebar.test.tsx
Due: npm run format, npm run lint

feat(page-header): change icon for dark mode button
  apps/web/src/components/layouts/PageHeader/PageHeader.test.tsx
  apps/web/src/components/layouts/PageHeader/PageHeader.tsx
  apps/web/src/components/layouts/RootLayout/RootLayout.tsx
  apps/web/src/components/layouts/Sidebar/SidebarLink/SidebarLink.module.css
Due: npm run format, npm run lint, npm run lint:css

test(page-header): use regex for accessible names
  apps/web/src/components/layouts/PageHeader/PageHeader.test.tsx
Due: npm run format, npm run lint

test(render-with-router): add utility function to simplify tests with the need of a router
  apps/web/src/components/layouts/Sidebar/Sidebar.test.tsx
  apps/web/src/pages/Login/LoginForm/LoginForm.test.tsx
  apps/web/src/utils/__tests__/renderWithRouter.test.tsx
  apps/web/src/utils/renderWithRouter.tsx
Due: npm run format, npm run lint

feat(page-header): add title on mobile devices
  apps/web/src/components/layouts/PageHeader/PageHeader.module.css
  apps/web/src/components/layouts/PageHeader/PageHeader.tsx
Due: npm run format, npm run lint, npm run lint:css

test(layout): add e2e test for the root layout
  apps/web/cypress/e2e/layout.cy.ts
  apps/web/cypress/e2e/login.cy.ts
  apps/web/cypress/support/commands.ts
  apps/web/cypress/support/index.d.ts
  apps/web/src/components/layouts/PageHeader/PageHeader.tsx
  apps/web/src/components/layouts/Sidebar/Sidebar.tsx
  apps/web/src/pages/NotFound/NotFound.tsx
Due: npm run format, npm run lint

feat(overview-card): add overview cards to the overview page
  apps/web/src/components/layouts/PageHeader/PageHeader.module.css
  apps/web/src/components/layouts/RootLayout/RootLayout.module.css
  apps/web/src/components/layouts/Sidebar/Sidebar.module.css
  apps/web/src/index.css
  apps/web/src/pages/Login/Login.module.css
  apps/web/src/pages/Overview/Overview.module.css
  apps/web/src/pages/Overview/Overview.tsx
  apps/web/src/pages/Overview/OverviewCard/OverviewCard.module.css
  apps/web/src/pages/Overview/OverviewCard/OverviewCard.tsx
  apps/web/src/pages/Overview/OverviewCard/index.ts
Due: npm run format, npm run lint, npm run lint:css

fix(overview-card): make percentage text color darker for better contrast
  apps/web/src/index.css
  apps/web/src/pages/Overview/OverviewCard/OverviewCard.module.css
Due: npm run lint:css

refactor(colors): rename success and error color variables
  apps/web/src/components/ui/Input/Input.module.css
  apps/web/src/index.css
  apps/web/src/pages/Login/LoginForm/LoginForm.module.css
  apps/web/src/pages/Overview/OverviewCard/OverviewCard.module.css
Due: npm run lint:css

fix(login-page): adjust error message color for better contrast
  apps/web/src/components/ui/Input/Input.module.css
  apps/web/src/pages/Login/LoginForm/LoginForm.module.css
Due: npm run lint:css
