Repository pt232/money-tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint, npm run lint:css

chore(render): readd properties to render.yaml with free plan
  render.yaml
Due: none

feat(cd): add cd pipeline
  .github/workflows/cd.yml
Due: none

docs(readme): add link to live demo
  README.md
Due: npm run format

chore(deps): reinstall packages
  package-lock.json
Due: npm run format

chore(docker): fix docker stop time by using npm-run-all
  apps/api/package.json
  package-lock.json
Due: npm run format

chore(docker): add depends_on to api and monog-express
  docker-compose.yml
Due: none

chore(docker): expose env variables to api container
  docker-compose.yml
Due: none

feat(jest): add first jest test
  apps/api/jest.config.ts
  apps/api/package.json
  apps/api/src/index.test.ts
  apps/api/src/index.ts
  apps/api/tsconfig.json
  package-lock.json
  packages/tsconfig/node.json
Due: npm run format, npm run lint

chore(turbo): add test pipeline
  package.json
  turbo.json
Due: npm run format

chore(deps): add rimraf to clean the dist folder
  apps/api/package.json
  package-lock.json
Due: npm run format

fix(jest): remove tests from dist and fix module issue
  apps/api/package.json
  apps/api/tsconfig.json
Due: npm run format

chore(tsconfig): add a tsconfig for the build
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/tsconfig.build.json
  apps/api/tsconfig.json
  package-lock.json
Due: npm run format, npm run lint

chore(ci): add test step
  .github/workflows/ci.yml
Due: none

fix(ci): setup mongodb container to allow connection
  .github/workflows/ci.yml
  apps/api/src/index.ts
Due: npm run format, npm run lint

chore(cd): only run deployment if integration was successful
  .github/workflows/cd.yml
Due: none

fix(jest): separate express app from server file
  apps/api/package.json
  apps/api/src/app.test.ts
  apps/api/src/app.ts
  apps/api/src/server.ts
Due: npm run format, npm run lint

chore(scripts): switch to new docker compose cli
  package.json
Due: npm run format

chore(docker): remove unecessary copy command
  apps/api/Dockerfile.dev
  apps/api/Dockerfile.prod
  apps/web/Dockerfile.dev
  apps/web/Dockerfile.prod
Due: none

refactor(test): remove should from test description to fit jest docs
  apps/api/src/app.test.ts
Due: npm run format, npm run lint

feat(vitest): add unit test with react-testing-lib and vitest
  apps/web/package.json
  apps/web/src/App.test.tsx
  apps/web/vite.config.ts
  package-lock.json
Due: npm run format, npm run lint

chore(turbo): force color output in terminal
  package.json
Due: npm run format

test(cypress): add basic cypress e2e test
  apps/web/cypress.config.ts
  apps/web/cypress/e2e/spec.cy.ts
  apps/web/cypress/support/commands.ts
  apps/web/cypress/support/e2e.ts
  apps/web/package.json
  apps/web/tsconfig.json
  package-lock.json
  package.json
  turbo.json
Due: npm run format, npm run lint

ci(cypress): start server before running cypress tests
  .github/workflows/ci.yml
Due: none

ci(mongodb): remove mongodb setup
  .github/workflows/ci.yml
Due: none

docs(readme): add mockup image for light mode
  README.md
  docs/mockup-dark.png
  docs/mockup-light.png
Due: npm run format

fix(scripts): add project flag on build:wath
  apps/api/package.json
Due: npm run format

feat(swagger): add swagger documentation for welcome route
  apps/api/package.json
  apps/api/src/app.ts
  apps/api/swagger.yml
  package-lock.json
Due: npm run format, npm run lint

chore(scripts): show logs by default for docker compose script
  package.json
Due: npm run format

docs(readme): add missing content
  README.md
Due: npm run format

docs(readme): adjust backend technologies list
  README.md
Due: npm run format

docs(readme): add figma to the technologies used section
  README.md
Due: npm run format

docs(readme): add supertest to the used technologies
  README.md
Due: npm run format

feat(login-page): add basic login form
  README.md
  apps/web/.eslintrc.cjs
  apps/web/package.json
  apps/web/src/App.test.tsx
  apps/web/src/App.tsx
  apps/web/src/components/Button/Button.tsx
  apps/web/src/components/Input/Input.tsx
  apps/web/src/main.tsx
  apps/web/src/pages/Login/Login.tsx
  apps/web/src/pages/Login/LoginForm.tsx
  package-lock.json
Due: npm run format, npm run lint

feat(login-page): add login header message
  apps/web/src/assets/logo-light.svg
  apps/web/src/pages/Login/Login.tsx
  apps/web/vite.config.ts
Due: npm run format, npm run lint

feat(login-page): add styles to login page
  apps/web/.stylelintrc.json
  apps/web/index.html
  apps/web/src/components/Button/Button.module.css
  apps/web/src/components/Button/Button.tsx
  apps/web/src/components/Card/Card.module.css
  apps/web/src/components/Card/Card.tsx
  apps/web/src/components/Input/Input.module.css
  apps/web/src/components/Input/Input.tsx
  apps/web/src/index.css
  apps/web/src/main.tsx
  apps/web/src/pages/Login/Login.module.css
  apps/web/src/pages/Login/Login.tsx
  apps/web/src/pages/Login/LoginForm.module.css
  apps/web/src/pages/Login/LoginForm.tsx
  apps/web/vite.config.ts
Due: npm run format, npm run lint, npm run lint:css

feat(login-page): add basic validation with zod
  apps/web/package.json
  apps/web/src/components/Input/Input.module.css
  apps/web/src/components/Input/Input.tsx
  apps/web/src/index.css
  apps/web/src/pages/Login/Login.module.css
  apps/web/src/pages/Login/LoginForm.tsx
  package-lock.json
Due: npm run format, npm run lint, npm run lint:css

refactor(zod): use flatten function for error handling
  apps/web/src/components/Input/Input.tsx
  apps/web/src/pages/Login/LoginForm.tsx
Due: npm run format, npm run lint

feat(login-page): add error and hover styles
  apps/web/src/components/Button/Button.module.css
  apps/web/src/components/Input/Input.module.css
  apps/web/src/components/Input/Input.tsx
  apps/web/src/index.css
  apps/web/src/pages/Login/Login.module.css
Due: npm run format, npm run lint, npm run lint:css

feat(login-page): add tests for input component
  apps/web/src/App.test.tsx
  apps/web/src/components/Input/Input.test.tsx
  apps/web/src/pages/Login/Form/LoginForm.module.css
  apps/web/src/pages/Login/Form/LoginForm.tsx
  apps/web/src/pages/Login/Login.tsx
  apps/web/src/setupTests.ts
  apps/web/vite.config.ts
Due: npm run format, npm run lint, npm run lint:css

test(login-form): add tests for invalid and valid requests
  apps/web/package.json
  apps/web/src/pages/Login/Form/LoginForm.test.tsx
Due: npm run format, npm run lint

Path conditions:
  npm run format: (any of: *.{js,cjs,ts,tsx}) or (any of: *.{json,md})
  npm run lint: any of: *.{js,cjs,ts,tsx}
  npm run lint:css: any of: *.css
