Repository pt232/money-tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint, npm run lint:css

test(login-page): add cypress test for the login form
  apps/web/cypress/e2e/spec.cy.ts
  package-lock.json
Due: npm run format, npm run lint

chore(vite): add autoprefixer to vite config
  apps/web/package.json
  apps/web/vite.config.ts
  package-lock.json
Due: npm run format, npm run lint

refactor(input): add aria attributes to custom input
  apps/web/src/components/Input/Input.tsx
Due: npm run format, npm run lint

refactor(input): use input attribute interface for props
  apps/web/.eslintrc.cjs
  apps/web/src/components/Input/Input.tsx
  apps/web/src/pages/Login/Form/LoginForm.tsx
Due: npm run format, npm run lint

test(input): add router to make test work again
  apps/web/src/components/Input/Input.test.tsx
Due: npm run format, npm run lint

refactor(input): use ref instead of state for form validation
  apps/web/src/components/Input/Input.tsx
  apps/web/src/pages/Login/Form/LoginForm.tsx
Due: npm run format, npm run lint

refactor(input): pass only one error message to input component
  apps/web/src/components/Input/Input.tsx
  apps/web/src/pages/Login/Form/LoginForm.tsx
Due: npm run format, npm run lint

refactor(button): add default props to button component
  apps/web/src/components/Button/Button.tsx
Due: npm run format, npm run lint

test(input): fix test input import and props
  apps/web/src/components/Input/Input.test.tsx
Due: npm run format, npm run lint

refactor(login-page): reduce spacing between logo and header
  apps/web/src/pages/Login/Login.module.css
Due: npm run lint:css

test(login-form): fix default import
  apps/web/src/pages/Login/Form/LoginForm.test.tsx
Due: npm run format, npm run lint

test(cypress): add a login command
  apps/web/cypress/e2e/spec.cy.ts
  apps/web/cypress/support/commands.ts
  apps/web/cypress/support/index.d.ts
Due: npm run format, npm run lint

refactor(login-page): use index file exports
  apps/web/.eslintrc.cjs
  apps/web/.stylelintignore
  apps/web/src/components/Button/index.ts
  apps/web/src/components/Card/index.ts
  apps/web/src/components/Input/index.ts
  apps/web/src/pages/Login/Login.tsx
  apps/web/src/pages/Login/LoginForm/LoginForm.module.css
  apps/web/src/pages/Login/LoginForm/LoginForm.test.tsx
  apps/web/src/pages/Login/LoginForm/LoginForm.tsx
  apps/web/src/pages/Login/LoginForm/index.ts
Due: npm run format, npm run lint, npm run lint:css

feat(dark-mode): add dark mode hook and test
  apps/web/src/hooks/__tests__/useDarkMode.test.ts
  apps/web/src/hooks/useDarkMode.ts
  package-lock.json
Due: npm run format, npm run lint

test(dark-mode): add vitest mock for matchMedia
  apps/web/src/hooks/__tests__/useDarkMode.test.ts
  apps/web/tsconfig.json
Due: npm run format, npm run lint

feat(dark-mode): add dark mode styles for login page
  apps/web/package.json
  apps/web/src/assets/logo-dark.svg
  apps/web/src/components/Card/Card.module.css
  apps/web/src/components/Input/Input.module.css
  apps/web/src/components/Input/Input.tsx
  apps/web/src/index.css
  apps/web/src/pages/Login/Login.module.css
  apps/web/src/pages/Login/Login.tsx
  apps/web/vite.config.ts
  package-lock.json
Due: npm run format, npm run lint, npm run lint:css

fix(deps): add types for string-hash package
  apps/web/package.json
  package-lock.json
Due: npm run format

fix(deployment): remove default vite icon
  apps/web/index.html
Due: none

refactor(login-page): adjust link and button hover state
  apps/web/src/components/Button/Button.module.css
  apps/web/src/components/Input/Input.module.css
  apps/web/src/index.css
  apps/web/src/pages/Login/Login.module.css
Due: npm run lint:css

feat(icon): add favicon and adjust page title
  apps/web/index.html
  apps/web/public/favicon.ico
Due: none

feat(overview-page): add overview page with base layout component
  apps/web/src/App.tsx
  apps/web/src/components/layouts/Layout.module.css
  apps/web/src/components/layouts/Layout.tsx
  apps/web/src/components/layouts/index.ts
  apps/web/src/components/ui/Button/Button.module.css
  apps/web/src/components/ui/Button/Button.tsx
  apps/web/src/components/ui/Button/index.ts
  apps/web/src/components/ui/Card/Card.module.css
  apps/web/src/components/ui/Card/Card.tsx
  apps/web/src/components/ui/Card/index.ts
  apps/web/src/components/ui/Input/Input.module.css
  apps/web/src/components/ui/Input/Input.test.tsx
  apps/web/src/components/ui/Input/Input.tsx
  apps/web/src/components/ui/Input/index.ts
  apps/web/src/pages/Login/LoginForm/LoginForm.tsx
  apps/web/src/pages/Overview/Overview.tsx
Due: npm run format, npm run lint, npm run lint:css

feat(page-header): add menu and dark mode button
  apps/web/package.json
  apps/web/src/components/layouts/Layout.module.css
  apps/web/src/components/layouts/Layout.tsx
  apps/web/src/components/layouts/PageHeader/PageHeader.module.css
  apps/web/src/components/layouts/PageHeader/PageHeader.tsx
  apps/web/src/components/layouts/PageHeader/index.ts
  apps/web/src/components/layouts/RootLayout/RootLayout.module.css
  apps/web/src/components/layouts/RootLayout/RootLayout.tsx
  apps/web/src/components/layouts/RootLayout/index.ts
  apps/web/src/components/layouts/index.ts
  apps/web/src/components/ui/Button/Button.module.css
  apps/web/src/components/ui/Button/Button.tsx
  apps/web/src/index.css
  apps/web/src/main.tsx
  apps/web/src/pages/Login/LoginForm/LoginForm.tsx
  apps/web/src/pages/Overview/Overview.tsx
  package-lock.json
Due: npm run format, npm run lint, npm run lint:css

feat(dark-mode): add functionality to toggle dark mode
  apps/web/src/components/layouts/PageHeader/PageHeader.module.css
  apps/web/src/components/layouts/PageHeader/PageHeader.tsx
  apps/web/src/components/layouts/RootLayout/RootLayout.module.css
  apps/web/src/hooks/__tests__/useDarkMode.test.ts
  apps/web/src/hooks/useDarkMode.ts
  apps/web/src/index.css
  apps/web/src/pages/Login/Login.module.css
  apps/web/src/pages/Login/Login.tsx
Due: npm run format, npm run lint, npm run lint:css

feat(classnames): add utility function to enhance adding classes with css modules
  apps/web/src/components/ui/Button/Button.tsx
  apps/web/src/components/ui/Input/Input.tsx
  apps/web/src/utils/__tests__/classNames.test.ts
  apps/web/src/utils/classNames.ts
Due: npm run format, npm run lint

refactor(input): separate input from label
  apps/web/.eslintrc.cjs
  apps/web/src/components/ui/Input/Input.module.css
  apps/web/src/components/ui/Input/Input.test.tsx
  apps/web/src/components/ui/Input/Input.tsx
  apps/web/src/pages/Login/LoginForm/LoginForm.module.css
  apps/web/src/pages/Login/LoginForm/LoginForm.tsx
Due: npm run format, npm run lint, npm run lint:css

refactor(reactnode): remove import of reactnode
  apps/web/src/components/layouts/RootLayout/RootLayout.tsx
  apps/web/src/components/ui/Button/Button.tsx
  apps/web/src/components/ui/Card/Card.tsx
Due: npm run format, npm run lint

feat(search-input): add search input with icon
  apps/web/src/components/layouts/PageHeader/PageHeader.module.css
  apps/web/src/components/layouts/PageHeader/PageHeader.tsx
  apps/web/src/components/ui/Button/Button.tsx
  apps/web/src/components/ui/Input/Input.module.css
  apps/web/src/components/ui/Input/Input.tsx
Due: npm run format, npm run lint, npm run lint:css

feat(page-header): add responsive layout with title
  apps/web/src/components/layouts/PageHeader/PageHeader.module.css
  apps/web/src/components/layouts/PageHeader/PageHeader.tsx
  apps/web/src/components/layouts/RootLayout/RootLayout.module.css
  apps/web/src/components/layouts/RootLayout/RootLayout.tsx
  apps/web/src/components/ui/Input/Input.module.css
  apps/web/src/index.css
Due: npm run format, npm run lint, npm run lint:css

fix(page-header): adjust default tabindex by order and outline width
  apps/web/src/components/layouts/PageHeader/PageHeader.module.css
  apps/web/src/components/layouts/PageHeader/PageHeader.tsx
  apps/web/src/components/ui/Input/Input.module.css
Due: npm run format, npm run lint, npm run lint:css

docs(pr-template): remove update documentation step from checklist
  .github/PULL_REQUEST_TEMPLATE.md
Due: npm run format

chore(nginx): add a nginx config file to handle routing
  apps/web/Dockerfile.prod
  apps/web/nginx.conf
Due: none

feat(sidebar): add basic sidebar to root layout
  apps/web/src/components/layouts/PageHeader/PageHeader.tsx
  apps/web/src/components/layouts/RootLayout/RootLayout.module.css
  apps/web/src/components/layouts/RootLayout/RootLayout.tsx
  apps/web/src/components/layouts/Sidebar/Sidebar.module.css
  apps/web/src/components/layouts/Sidebar/Sidebar.tsx
  apps/web/src/components/layouts/Sidebar/index.ts
  apps/web/src/index.css
Due: npm run format, npm run lint, npm run lint:css

feat(sidebar): add links to the sidebar
  apps/web/src/components/layouts/PageHeader/PageHeader.module.css
  apps/web/src/components/layouts/RootLayout/RootLayout.tsx
  apps/web/src/components/layouts/Sidebar/Sidebar.module.css
  apps/web/src/components/layouts/Sidebar/Sidebar.tsx
  apps/web/src/components/layouts/Sidebar/SidebarLink/SidebarLink.module.css
  apps/web/src/components/layouts/Sidebar/SidebarLink/SidebarLink.tsx
  apps/web/src/components/layouts/Sidebar/SidebarLink/index.ts
  apps/web/src/components/ui/Input/Input.module.css
  apps/web/src/index.css
  apps/web/src/pages/Overview/Overview.tsx
Due: npm run format, npm run lint, npm run lint:css

feat(account-item): add an item to display basic account info inside the sidebar
  apps/web/src/assets/profile-picture.jpg
  apps/web/src/components/layouts/Sidebar/Sidebar.module.css
  apps/web/src/components/layouts/Sidebar/Sidebar.tsx
  apps/web/src/components/ui/AccountItem/AccountItem.module.css
  apps/web/src/components/ui/AccountItem/AccountItem.tsx
  apps/web/src/components/ui/AccountItem/index.ts
Due: npm run format, npm run lint, npm run lint:css

feat(sidebar): add functionality to close and open sidebar
  apps/web/src/components/layouts/PageHeader/PageHeader.tsx
  apps/web/src/components/layouts/RootLayout/RootLayout.tsx
  apps/web/src/components/layouts/Sidebar/Sidebar.module.css
  apps/web/src/components/layouts/Sidebar/Sidebar.tsx
Due: npm run format, npm run lint, npm run lint:css

fix(sidebar-link): adjust color contrast
  apps/web/src/components/layouts/Sidebar/SidebarLink/SidebarLink.module.css
  apps/web/src/components/layouts/Sidebar/SidebarLink/SidebarLink.tsx
Due: npm run format, npm run lint, npm run lint:css

feat(sidebar): add missing pages
  apps/web/src/App.tsx
  apps/web/src/components/layouts/RootLayout/RootLayout.tsx
  apps/web/src/components/layouts/Sidebar/Sidebar.tsx
  apps/web/src/pages/Accounts/Accounts.tsx
  apps/web/src/pages/Accounts/index.ts
  apps/web/src/pages/Analytics/Analytics.tsx
  apps/web/src/pages/Analytics/index.ts
  apps/web/src/pages/Categories/Categories.tsx
  apps/web/src/pages/Categories/index.ts
  apps/web/src/pages/Login/index.ts
  apps/web/src/pages/Overview/Overview.tsx
  apps/web/src/pages/Overview/index.ts
  apps/web/src/pages/Settings/Settings.tsx
  apps/web/src/pages/Settings/index.ts
  apps/web/src/pages/Transactions/Transactions.tsx
  apps/web/src/pages/Transactions/index.ts
Due: npm run format, npm run lint

refactor(profile-card): rename AccountItem to ProfileCard
  apps/web/src/assets/profile-image.jpg
  apps/web/src/components/layouts/Sidebar/Sidebar.tsx
  apps/web/src/components/ui/AccountItem/AccountItem.tsx
  apps/web/src/components/ui/AccountItem/index.ts
  apps/web/src/components/ui/ProfileCard/ProfileCard.module.css
  apps/web/src/components/ui/ProfileCard/ProfileCard.tsx
  apps/web/src/components/ui/ProfileCard/index.ts
Due: npm run format, npm run lint, npm run lint:css

refactor(page-header): add aria-label for accessibility
  apps/web/src/components/layouts/PageHeader/PageHeader.tsx
Due: npm run format, npm run lint

refactor(react-router-dom): use new data api for routing
  apps/web/src/App.tsx
  apps/web/src/components/layouts/RootLayout/RootLayout.tsx
  apps/web/src/main.tsx
  apps/web/src/pages/Accounts/Accounts.tsx
  apps/web/src/pages/Analytics/Analytics.tsx
  apps/web/src/pages/Categories/Categories.tsx
  apps/web/src/pages/Overview/Overview.tsx
  apps/web/src/pages/Settings/Settings.tsx
  apps/web/src/pages/Transactions/Transactions.tsx
  apps/web/src/router/index.tsx
Due: npm run format, npm run lint

Path conditions:
  npm run format: (any of: *.{js,cjs,ts,tsx}) or (any of: *.{json,md})
  npm run lint: any of: *.{js,cjs,ts,tsx}
  npm run lint:css: any of: *.css
